html{
    min-height: 100%;
}

body {
background: #f857a6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


main, main aside, section {
    border: 1px solid red;
    padding: 10px;
    color: white;
}

main {
    display: flex;
    min-height: 500px;
}

main aside {
    flex: 0.5;
}

section {
    flex: 2.5;
}